/*---------------------------------------
VARIABLES          
-----------------------------------------*/
:root {
    --white-color: #ffffff;
    --primary-color: #F8CB2E;
    --secondary-color: #EE5007;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #EE5007;
    --custom-btn-bg-hover-color: #c01f27;
    --dark-color: #000000;
    --p-color: #717275;
    --border-color: #7fffd4;
    --link-hover-color: #B22727;

    --body-font-family: 'Outfit', sans-serif;

    --h1-font-size: 74px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --btn-font-size: 14px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white-color);
    font-family: var(--body-font-family);
}

.hidden-content {
    opacity: 0;
}


/*---------------------------------------
    TYPOGRAPHY               
  -----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

ul li {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

b,
strong {
    font-weight: var(--font-weight-bold);
}


/*---Loader-----*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--link-hover-color);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #content {
    display: none;
    text-align: center;
  }

/*---------------------------------------
    SECTION               
  -----------------------------------------*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--section-bg-color);
}

.section-overlay {
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.35;
}

.section-overlay.container {
    position: relative;
}

.tab-content {
    background-color: var(--white-color);
    border-radius: var(--border-radius-medium);
    padding: 45px;
}



/*---------------------------------------
    CUSTOM ICON COLOR               
  -----------------------------------------*/
.custom-icon {
    color: var(--secondary-color);
}


/*---------------------------------------
    CUSTOM BUTTON               
  -----------------------------------------*/
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    transition: all 0.3s;
    padding: 10px 20px;
}

.custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
}

.custom-border-btn {
    background: transparent;
    border: 2px solid var(--custom-btn-bg-color);
    color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
    color: var(--white-color);
}

.custom-btn-bg-white {
    border-color: var(--white-color);
    color: var(--white-color);
}


/*---------------------------------------
    VIDEO          
  -----------------------------------------*/
.video-wrap {
    z-index: -100;
}

.custom-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/*---------------------------------------
    SITE HEADER              
  -----------------------------------------*/
.site-header {
    background-color: var(--dark-color);
    padding-top: 12px;
    padding-bottom: 12px;
}

/*TYPEWRITE*/
.pWritter {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(255, 255, 255, .70);
}

.pWritter {
    animation: animated-text 4s steps(29, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 472px;
    }
}

/*---------------------------------------
    NAVIGATION              
  -----------------------------------------*/
.sticky-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 51px;
}

.sticky-wrapper.is-sticky .navbar {
    background-color: var(--dark-color);
}

.navbar {
    background: black;
    z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--white-color);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
    border-radius: var(--border-radius-large);
    margin: 10px;
    padding: 10px 20px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: var(--white-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

/*Animación del icono del menu*/
.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}


/*---------------------------------------
    HERO        
  -----------------------------------------*/
.hero-section {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    height: calc(100vh - 51px);
}

.hero-section small {
    color: var(--white-color);
    text-transform: uppercase;
}

.hero-section .section-overlay {
    z-index: 2;
    opacity: 0.45;
}

.hero-section .container {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-bottom: 50px;
}

.hero-section .container .row {
    height: 100%;
}


/*---------------------------------------
    SOCIAL ICON               
  -----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    background: var(--secondary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--copyright-font-size);
    display: block;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.social-icon-link span {
    display: block;
}

.social-icon-link span:hover::before {
    animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------------
  ABOUT AND PARALLAX             
-----------------------------------------*/

.text-parallax{
    padding: 150px 0;
    background-image: url('https://www.wallpapertip.com/wmimgs/43-439181_barber-shop.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: .2s;
}

.text-parallax h1{
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 50px;
    text-shadow: 0 2px 5px #000;
    font-weight: 100;

}

.sec-title{
    position:relative;
    z-index: 1;
    margin-bottom:60px;
  }
  
  .sec-title .title{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ff2222;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .sec-title h2{
    position: relative;
    display: block;
    font-size:40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom:18px;
  }
  
  .sec-title h2:before{
    position:absolute;
    content:'';
    left:0px;
    bottom:0px;
    width:50px;
    height:3px;
    background-color:#d1d2d6;
  }
  
  .sec-title .text{
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
  }
  
  .sec-title.light h2{
    color: #ffffff;
  }
  
  .sec-title.text-center h2:before{
    left:50%;
    margin-left: -25px;
  }
  
  
  .aboutButton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    background-color: var(--custom-btn-bg-color);
  }
  
  .aboutButton:hover{
    background-color: #570000;
    color: #ffffff;
  }
  .about-section{
    background-color: #ffffff;
    position: relative;
    padding: 120px 0 70px;
  }
  
  .about-section .sec-title{
    margin-bottom: 45px;
  }
  
  .about-section .content-column{
    position: relative;
    margin-bottom: 50px;
  }
  
  .about-section .content-column .inner-column{
    position: relative;
    padding-left: 30px;
  }
  
  .about-section .text{
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
  }
  
  .about-section .list-style-one{
    margin-bottom: 45px;
  }
  
  .about-section .btn-box{
    position: relative;
  }
  
  .about-section .btn-box a{
    padding: 15px 50px;
  }
  
  .about-section .image-column{
    position: relative;
  }
  
  .about-section .image-column .text-layer{
      position: absolute;
      right: -110px;
      top: 50%;
      font-size: 325px;
      line-height: 1em;
      color: #ffffff;
      margin-top: -175px;
      font-weight: 500;
  }
  
  .about-section .image-column .inner-column{
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
  }
  
  .about-section .image-column .inner-column:before{
    position: absolute;
    left: -75px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
  }
  
  .about-section .image-column .image-1{
    position: relative;
  }
  
  .about-section .image-column .image-2{
    position: absolute;
    left: 0;
    bottom: 0;
  }


  /*---------------------------------------
  SERVICES PARALLAX             
-----------------------------------------*/

.services-parallax{
    padding: 150px 0;
    background-image: url('https://rare-gallery.com/uploads/posts/503299-animals-barber.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: .2s;
}

.services-parallax h1{
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 50px;
    text-shadow: 0 2px 5px #000;
    font-weight: 50;

}

/*---------------------------------------
  Services         
-----------------------------------------*/

.feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
  }
  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #fc5356;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
    font-size: 27px;
  }
  .feature-box-1 .icon i {
    line-height: 70px;
  }
  .feature-box-1 h5 {
    color: #000;
    font-weight: 600;
  }
  .feature-box-1 p {
    margin: 0;
  }
  .feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: var(--custom-btn-bg-color);
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1:hover {
    top: -5px;
  }
  .feature-box-1:hover h5 {
    color: #ffffff;
  }
  .feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
  }
  .feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
  }

  
  /*---------------------------------------
    CUSTOM FORM CONTACT            
  -----------------------------------------*/
  .custom-form .form-control {
    color: var(--p-color);
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    outline: none;
  }
  
  .custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
    margin-bottom: 0;
  }
  
  .custom-form button[type="submit"]:hover {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
  }

/*---------------------------------------
    RESPONSIVE STYLES               
  -----------------------------------------*/
@media screen and (max-width: 991px) {
    h1 {
        font-size: 62px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar {
        background-color: black;
    }

    .navbar-expand-lg .navbar-nav {
        padding-bottom: 30px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }

    .hero-section {
        padding-top: 150px;
    }

    @media screen and (max-width: 767px) {
        .custom-btn {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    @media screen and (max-width: 480px) {
        h1 {
            font-size: 52px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 26px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 20px;
        }
    }

}

